*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
}

.modal {
  width: 70vw;
  height: 80vh;
  background-color: lightskyblue;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
  cursor: pointer;
}
